{
  "presets": ["@babel/env"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-class-properties",
    ["prismjs", {
      "languages": ["javascript", "css", "markup", "scss", "php", "bash", "js-extras", "jsx", "diff"]
    }]
  ]
}
