/** Jikuu - Tumblr Theme - Basic settings */

html, body {
  margin: 0;
}
body {
  line-height: 1;
}
a {
  text-decoration: none;
  color: $primary;
}
a:hover,
a:focus {
  text-decoration: underline;
  color: $hover;
}
a:visited {
  color: $visited;
}
a:visited:hover,
a:visited:focus {
  color: $hover;
}
#root {
  padding: 0 25px;
  font-family: $body-font;
  font-size: $base-font-size;
  line-height: $base-line-height;

  &.use-system-font {
    font-family: $body-font-native;
  }

  .grid-container {
    width: $base-width;
    margin: auto;

    // On small sizes, revert to full width.
    @include small-viewport() {
      width: 100%;
    }

    // Header section.
    #header {
      margin: 0 0 25px 0;
      border-bottom: 5px solid $primary;

      #title {
        font-size: 31px;
        line-height: 23px;
        padding: 29px 0 14px;
        color: $primary;
        text-align: center;
        text-decoration: none;
        margin: 0;

        &.std-logo {
          padding: 0;

          > a {
            width: 329px;
            margin: auto;
            display: block;
            padding: 29px 40px 14px;

            // Note: SVG colors can be modified by targeting
            // svg .st0 (left text)
            // svg .st1 (middle text)
            // svg .st2 (right text)
            svg {
              .st0 {
                fill: $hover;
              }
              .st1 {
                fill: $primary;
              }
              .st2 {
                fill: $near-black;
              }
            }
          }
        }

        &.img .text {
          display: none;
        }
      }
    }

    // Content section.
    #content {
      margin: 25px 0;

      .sidebar {
        margin-bottom: 45px;
        float: left;
        min-height: 1px;
        width: $base-width-sidebar;
      }
      .main {
        float: left;
        min-height: 1px;
        width: $base-width-content;
        margin-left: $base-margin-content;
      }
    }
  }

  // Modifications for the wide layout type.
  &.layout-wide {
    font-size: $wide-font-size;
    line-height: $wide-line-height;

    .grid-container {
      width: $wide-width;

      #content {
        .sidebar {
          width: $wide-width-sidebar;
        }
        .main {
          width: $wide-width-content;
          margin-left: $wide-margin-content;
        }
      }
    }
  }
}

// Hide elements only for screen readers.
.aural-only {
  display: none;
}
