/** Jikuu - Tumblr Theme - Footer and page navigation */

.section.pagenav {
  > hr {
    // We already have a <hr /> in the content section.
    display: none;
  }
  .menu {
    @include nav-menu-horizontal();

    li {
      &.active {
        @include bevel-out-inverted-pagenav();
      }
      margin-right: 5px;
    }
  }
  &.hidden {
    display: none;
  }

  // Ensure there's a decent amount of space, so the pagenav isn't completely at the bottom.
  margin-bottom: 80px;
}
