/** Jikuu - Tumblr Theme - Lightbox overrides */

.lum-lightbox {
  background: rgba($near-black, 0.8);
}
.lum-lightbox-inner {
  .lum-lightbox-caption {
    background: rgba($near-black, 0.9);
    font-family: $body-font;
    padding: 8px 12px;
    font-size: $base-font-size;
    line-height: $base-line-height;
    display: table;
    border-radius: 2px;

    &:empty {
      display: none;
    }
  }
}

#root.use-system-font {
  .lum-lightbox-inner {
    .lum-lightbox-caption {
      font-family: $body-font-native;
    }
  }
}