/** Jikuu - Tumblr Theme - Mixins */

// Adds background image of a dot pattern.
@mixin dotted() {
  background: url("data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAMAAADXEh96AAAABlBMVEX///////9VfPVsAAAAAnRSTlP/AOW3MEoAAAATSURBVAjXY2BkAEEGBkYkiJUHAAGkABNgY9FfAAAAAElFTkSuQmCC") scroll repeat $medium-gray;
  image-rendering: optimizeSpeed;
}

// Adds CSS that only applies to retina screens.
@mixin retina-only() {
  @media
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi) {
    @content;
  }
}

// Adds CSS that only applies to small ($break-small) viewports.
@mixin small-viewport() {
  @media only screen and (max-width: $break-small) {
    @content;
  }
}

// Add CSS that only applies to the large (above $break-regular) viewports.
// This only activates if the layout mode is set to 'wide'.
@mixin wide-viewport() {
  @media only screen and (min-width: $break-regular) {
    #root.layout-wide {
      @content;
    }
  }
}

// Turns an element into a bevel out style button.
// Needs to have a <span> or <div> directly inside.
@mixin bevel-out-btn($after: null) {
  @include dotted();
  border: none;
  padding: 1px;
  margin-bottom: 5px;
  position: relative;
  line-height: 15px;
  top: 1px;
  z-index: 10;

  > span, > div {
    border: 1px solid $near-black;
    padding: 3px 8px;
    margin: -1px;
    background: #ffffff;
    color: $near-black;
    position: relative;
    top: -3px;
    left: -3px;

    @if ($after) {
      &:after {
        content: " >";
      }
    }
  }

  &:hover {
    background: $primary;

    span {
      color: $primary;
      border-color: $primary;
    }
  }
}

// Creates a navigation menu out of an <ul>.
@mixin nav-menu() {
  margin: 8px 0;
  padding: 0 0 1px 0;

  li,
  li a,
  li a span {
    display: block;
  }

  li a {
    background: #ffffff;
    line-height: 15px;
    margin-bottom: -1px;
    position: relative;
    border: 1px solid $near-black;
    text-decoration: none;

    span {
      border: none;
      padding: 4px 9px;
      color: $near-black;
      margin: -1px;
    }

    &:hover {
      border-color: $primary;
      z-index: 12;

      span {
        color: $primary;
      }
    }
  }
  li.active a {
    @include bevel-out-btn();
  }
}

// Small modifications to the nav menu for the wide layout.
@mixin nav-menu-wide() {
  li a {
    span {
      padding-top: 5px;
      padding-bottom: 5px;
    }
  }
}

// Horizontal version of the nav menu, used for page numbers at the bottom.
@mixin nav-menu-horizontal() {
  @include nav-menu();

  li {
    display: inline-block;

    a span:after {
      content: '' !important;
    }
  }
}

// Bevel texture used by answer posts. Used for the question.
@mixin bevel-out-item {
  .arr-outer,
  .arr-inner {
    display: block;
    position: absolute;
    z-index: 20;
    left: 0;
    top: 5px;
  }
  .arr-outer {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 8px 8px 0;
    border-color: transparent $dark-gray transparent transparent;
  }
  .arr-inner {
    width: 0px;
    height: 0px;
    margin: 1px 0 0 1px;
    border-style: solid;
    border-width: 7px 7px 7px 0;
    border-color: transparent #ffffff transparent transparent;
  }
  .inner {
    display: block;
    position: relative;
    z-index: 12;
    background: white;
    border: 1px solid $dark-gray;
    margin-left: 7px;
    padding: 6px 10px;
    min-height: 50px;
  }
  .bevel-container {
    position: relative;
    display: inline-block;

    &:before {
      @include dotted();
      position: absolute;
      content: '';
      z-index: 11;
      top: 3px;
      right: -3px;
      left: 10px;
      bottom: -3px;
      border: 0;
    }
  }
}

// Bevel texture used by answer posts. Below the question.
@mixin bevel-out-item-down() {
  .arr-outer {
    border-width: 8px 8px 0 8px;
    border-color: #696161 transparent transparent transparent;
    bottom: -8px;
    top: auto;
    left: 6px;
  }
  .arr-inner {
    border-width: 7px 7px 0px 7px;
    border-color: #ffffff transparent transparent transparent;
    bottom: -6px;
    top: auto;
    left: 6px;
  }
  .inner {
    margin-left: 0;
  }
  .bevel-container {
    width: 100%;
    margin-bottom: 7px;
  }
}

// Inverts the bevel by making it black and the text white.
@mixin bevel-out-inverted() {
  .bevel-container:before {
    background-color: $near-black;
  }
  .arr-outer {
    display: none;
  }
  .arr-inner {
    border-color: transparent $near-black transparent transparent;
  }
  .inner {
    background: $near-black;
    color: white;
    border-color: $near-black;
  }
}