/** Jikuu - Tumblr Theme - Answer post */

.post.type-answer {
  .question {
    .avatar {
      display: inline-block;
      vertical-align: top;
      width: 71px;

      img {
        display: block;
      }
    }
    .content {
      font-size: 18px;
      line-height: 24px;
      max-width: 396px;
    }
    .asker {
      margin-top: 0;
      margin-bottom: 4px;
      font-size: 11px;
      text-decoration: none;
    }
    @include bevel-out-item();
    @include bevel-out-inverted();
  }
  .answer {
    margin: 20px 0 0;

    .inner {
      min-height: 0 !important;
    }

    @include bevel-out-item();
    @include bevel-out-item-down();
  }
}
