/** Jikuu - Tumblr Theme - Chat post */

.post.type-chat {
  .chat {
    list-style: none;
    border-bottom: 1px solid var(--jikuu-medium-gray);
    font-family: $monospace-font;
    font-size: 100%;
    padding: 0;
    margin: 8px 0;

    li {
      border: 1px solid var(--jikuu-medium-gray);
      border-bottom: none;
      padding: 3px 6px;

      .label {
        display: inline-block;
        color: var(--jikuu-primary);
        font-style: italic;
      }
      .line {
      }
    }
  }
}

// Modify font if using system font.
#root.use-system-font {
  .post.type-chat {
    .chat {
      font-size: $monospace-font-native-scale;
    }
  }
}
