/** Jikuu - Tumblr Theme - Chat post */

.post.type-chat {
  .chat {
    list-style: none;
    border-bottom: 1px solid $light-gray;
    font-family: $monospace-font;
    font-size: 100%;
    padding: 0;
    margin: 8px 0;

    li {
      border: 1px solid $light-gray;
      border-bottom: none;
      padding: 3px 6px;

      .label {
        display: inline-block;
        color: $primary;
        font-style: italic;
      }
      .line {
      }
    }
  }
}
