/** Jikuu - Tumblr Theme - Link post */

.post.type-link {
  .post-content > .link-container a {
    padding: 12px 14px;
    display: block;
    color: var(--jikuu-near-black);
    border-radius: 2px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;

    .bg {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: var(--jikuu-primary);
      opacity: 0.08;
    }
    .host, .name, .excerpt {
      position: relative;
      z-index: 10;
    }

    .host {
      font-size: $base-font-size;
      font-weight: bold;
      padding: 0 0 10px;
    }

    .name {
      color: var(--jikuu-primary);
      font-size: 22px;
      line-height: 22px;

      &:after {
        content: "⌃";
        transform: rotate(90deg);
        display: inline-block;
        position: relative;
        top: 1px;
        font-size: 84%;
        font-weight: bold;
      }
    }
    .excerpt {
      margin-top: 10px;
    }
    &:hover, &:focus, &:visited:hover {
      .bg {
        background-color: var(--jikuu-hover);
      }
      .name {
        color: var(--jikuu-hover);
      }
      text-decoration: none;
      border-color: var(--jikuu-hover);
    }
    &:visited {
      .bg {
        background-color: var(--jikuu-visited);
      }
      .name {
        color: var(--jikuu-visited);
      }
      border-color: var(--jikuu-visited);
    }
  }
}
