/** Jikuu - Tumblr Theme - Quote post */

.post.type-quote {
  .quote {
    font-size: 24px;
    line-height: 34px;
    padding: 0;
    margin: 0;
    text-align: left;
    font-style: italic;
    color: var(--jikuu-hover);

    &:before {
      content: '“';
    }
    &:after {
      content: '”';
    }
  }
  .source {
    margin-top: 6px;
    margin-bottom: 16px;

    // Make the dash one long line.
    .dash {
      margin-left: 4px;
      margin-right: 6px;

      &:after {
        // 4x U+2500: BOX DRAWINGS LIGHT HORIZONTAL
        content: '────';
      }
    }
    .dash, .content {
      display: inline-block;
    }
  }
}
