/** Jikuu - Tumblr Theme - Quote post */
/*
.wrapper.content .main .post.type-quote {
}
.wrapper.content .main .post.type-quote .quote {
    font-size: 18px;
    line-height: 24px;
}
.wrapper.content .main .post.type-quote .quote:before {
    content: '“';
}
.wrapper.content .main .post.type-quote .quote:after {
    content: '”';
}
.wrapper.content .main .post.type-quote .source {
    margin-top: 6px;
}
.wrapper.content .main .post.type-quote .source:before {
    content: '— ';
}
*/
