/** Jikuu - Tumblr Theme - Text post */
/*
.wrapper.content .main .post.type-text {
}
// Some support for the theme readme page.
.wrapper.content .main .post.type-text .term {
    margin-bottom: 10px;
}
.wrapper.content .main .post.type-text .term .option {
    display: block;
    font-weight: bold;
}
.wrapper.content .main .post.type-text .term .definition {
    display: block;
    text-indent: 25px;
}
*/
