/** Jikuu Tumblr Theme - Video post */

/*
.wrapper.content .main .post.type-video {
}
.wrapper.content .main .post.type-video .embed {
    display: block;
    margin-bottom: 10px;
}
.wrapper.content .main .post.type-video .embed iframe {
    display: block;
}
*/
