<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="{block:English}en{/block:English}{block:German}de{/block:German}{block:French}fr{/block:French}{block:Italian}it{/block:Italian}{block:Japanese}ja{/block:Japanese}{block:Turkish}tr{/block:Turkish}{block:Spanish}es{/block:Spanish}{block:Russian}ru{/block:Russian}{block:Polish}pl{/block:Polish}{block:PortuguesePT}pt{/block:PortuguesePT}{block:PortugueseBR}pt-br{/block:PortugueseBR}{block:Dutch}nl{/block:Dutch}">
<!--

Jikuu Tumblr Theme (<%= htmlWebpackPlugin.options.rev %>)
Copyright © 2009-<%= htmlWebpackPlugin.options.year %>, Michiel Sikma. MIT license.
Build date: <%= htmlWebpackPlugin.options.buildDate %>

(；ﾟ～ﾟ)ゝ”

-->
<head>
  {MobileAppHeaders}
  <meta charset="utf-8" />

  <title>{Title}{block:SearchPage} ({lang:Search results for SearchQuery}){/block:SearchPage}{block:DayPage} ({lang:Viewing everything posted on Month DayOfMonth Year}){/block:DayPage}{block:TagPage} ({lang:Showing posts tagged Tag}){/block:TagPage}{block:PermalinkPage}{block:PostSummary} — {PostSummary}{/block:PostSummary}{/block:PermalinkPage}</title>
  {block:Description}
  <meta name="description" content="{MetaDescription}" />
  {/block:Description}

  <!-- Colors -->
  <meta name="color:Text" content="#0B0A0A" />
  <meta name="color:Primary" content="#006AFF" />
  <meta name="color:Visited" content="#5E0FFF" />
  <meta name="color:Hover" content="#FF086B" />
  <meta name="color:Background" content="#FFFFFF" />
  <meta name="color:Light Borders" content="#CDCACA" />
  <meta name="color:Dark Borders" content="#9B9595" />
  <meta name="color:Menu Text" content="#0A0A0B" />
  <meta name="color:Menu Border" content="#020000" />
  <meta name="color:Meta Links" content="#585251" />
  <meta name="color:Meta Text" content="#585151" />

  <!-- Fonts -->
  <meta name="font:Body Font" content="'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif" />
  <meta name="font:Header Font" content="Futura, 'Century Gothic', AppleGothic, sans-serif" />

  <!-- Images -->
  <meta name="image:Header" content="" />
  <meta name="image:Profile photo" content="" />

  <!-- Layout settings -->
  <!-- ↓ displays your icon or profile photo in the sidebar -->
  <meta name="if:Show profile photo" content="1" />
  <!-- ↓ adds a link to the post's short URL in the meta section -->
  <meta name="if:Show shortlink" content="1" />
  <!-- ↓ proportionally stretches the profile photo to the sidebar width -->
  <meta name="if:Use big profile photo" content="1" />
  <!-- ↓ shows your blog description at the top of the sidebar -->
  <meta name="if:Show blog description" content="1" />
  <!-- ↓ shows the social media and follow section below the description -->
  <meta name="if:Show social media links" content="1" />
  <!-- ↓ shows the copyright symbol and the amount of years your blog has been active (recommended) -->
  <meta name="if:Show copyright section" content="1" />
  <!-- ↓ always keeps the main navigation in sight when scrolling down -->
  <meta name="if:Always keep main navigation visible" content="1" />
  <!-- ↓ moves the sidebar to the right side instead of the left -->
  <meta name="if:Show sidebar on the right side" content="0" />
  <!-- ↓ displays "Navigate" header above your main menu -->
  <meta name="if:Show navigate header" content="1" />
  <!-- ↓ only has effect if there are multiple blog members -->
  <meta name="if:Show list of group blog contributors" content="1" />
  <!-- ↓ only has effect if this is your main blog -->
  <meta name="if:Show list of blogs you follow" content="1" />
  <!-- ↓ displays your icon below post content (useful if you have multiple blog members) -->
  <meta name="if:Show author avatar" content="0" />
  <!-- ↓ displays your name below post content -->
  <meta name="if:Show author name" content="0" />
  <!-- ↓ removes page numbers at the bottom and auto-loads new content using JS -->
  <meta name="if:Use endless scrolling" content="1" />
  <!-- ↓ whether to completely hide the search field -->
  <meta name="if:Show search field" content="1" />
  <!-- ↓ changes all time strings to a 24-hour format -->
  <meta name="if:Use 24 hour clock" content="1" />
  <!-- ↓ uses page numbers (rather than older/newer links) in the navigation -->
  <meta name="if:Use jump navigation" content="1" />
  <!-- ↓ force tags list to be a single line -->
  <meta name="if:Show tags as single line" content="1" />
  <!-- ↓ the gutter size of photosets -->
  <meta name="text:Photoset gutter size" content="5px" />
  <!-- ↓ base layout type -->
  <meta name="select:Layout" content="regular" title="Regular">
  <meta name="select:Layout" content="narrow" title="Narrow">

  <!-- External links and social media -->
  <meta name="if:External RSS feed link" content="1" />

  <meta name="text:External Twitter URL" content="" />
  <meta name="text:External Twitter text" content="" />

  <meta name="text:External Facebook URL" content="" />
  <meta name="text:External Facebook text" content="" />

  <meta name="text:External Bandcamp URL" content="" />
  <meta name="text:External Bandcamp text" content="" />

  <meta name="text:External Youtube URL" content="" />
  <meta name="text:External Youtube text" content="" />

  <meta name="text:External website URL" content="" />
  <meta name="text:External website text" content="" />

  <meta name="text:External email address" content="" />
  <meta name="text:External email text" content="" />

  <meta name="text:External Flickr URL" content="" />
  <meta name="text:External Flickr text" content="" />

  <meta name="text:External Vimeo URL" content="" />
  <meta name="text:External Vimeo text" content="" />

  <meta name="text:External Instagram URL" content="" />
  <meta name="text:External Instagram text" content="" />

  <!-- External connections -->
  <!-- ↓ Google Analytics ID (e.g. UA-1234567-89) -->
  <meta name="text:Google Analytics ID" content="" />
  <!-- ↓ if available, shown after the copyright symbol and years string -->
  <meta name="text:Additional copyright info" content="" />

  <meta name="viewport" content="user-scalable=yes, initial-scale=1.0, maximum-scale=2.0, width=480" />
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="icon" type="image/png" href="{Favicon}" />
  <link rel="apple-touch-icon-precomposed" href="{PortraitURL-128}" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{RSS}" />

  <!-- ↓ theme CSS -->
  <% for (const css in htmlWebpackPlugin.files.css) { %>
  <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
  <% } %>

  <!-- ↓ user CSS overrides -->
  <style type="text/css" media="screen">
  {CustomCSS}
  </style>

  <!-- ↓ theme interface code -->
  <% for (const chunk in htmlWebpackPlugin.files.chunks) { %>
  <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
  <% } %>
  <!-- ↓ settings to pass on to the interface code -->
  <script type="text/javascript" data-jikuu="settings">
  Jikuu.configure({
    rev: { count: '<%= htmlWebpackPlugin.options.count %>', hash: '<%= htmlWebpackPlugin.options.hash %>', branch: '<%= htmlWebpackPlugin.options.branch %>' },
    i18n: {
      lang: '{block:English}en{/block:English}{block:German}de{/block:German}{block:French}fr{/block:French}{block:Italian}it{/block:Italian}{block:Japanese}ja{/block:Japanese}{block:Turkish}tr{/block:Turkish}{block:Spanish}es{/block:Spanish}{block:Russian}ru{/block:Russian}{block:Polish}pl{/block:Polish}{block:PortuguesePT}pt{/block:PortuguesePT}{block:PortugueseBR}pt-br{/block:PortugueseBR}{block:Dutch}nl{/block:Dutch}',
      str: {
        loading: '{lang:Loading}',
        noMorePosts: '{lang:No more posts}'
      }
    },
    layout: {
      useEndlessScrolling: {block:IfUseEndlessScrolling}true{/block:IfUseEndlessScrolling}{block:IfNotUseEndlessScrolling}false{/block:IfNotUseEndlessScrolling},
      photosetGutterSize: "{text:Photoset gutter size}"
    }
  })
  </script>
  {block:IfGoogleAnalyticsID}
  <!-- ↓ Google Analytics code -->
  <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', '{text:Google Analytics ID}', 'auto');
  ga('send', 'pageview');
  </script>
  {/block:IfGoogleAnalyticsID}
</head>

<body>
  <p class="textnav aural-only"><a href="#content_main_hajime">Jump to content</a></p>
  <div data-urlencoded-name="{URLEncodedName}" id="root" data-page-type="{block:IndexPage}index{/block:IndexPage}{block:PermalinkPage}permalink{/block:PermalinkPage}" class="page{block:IfShowSidebarOnTheRightSide} sidebar-right{/block:IfShowSidebarOnTheRightSide}{block:SearchPage} search-page{block:NoSearchResults} no-results{/block:NoSearchResults}{/block:SearchPage}{block:IndexPage} index{/block:IndexPage}{block:PermalinkPage} permalink{/block:PermalinkPage}{block:IfUseEndlessScrolling} endless-scrolling{/block:IfUseEndlessScrolling}{block:DayPage} daypage archive{/block:DayPage}{block:TagPage} tagpage archive{/block:TagPage}" data-url="{block:PermalinkPage}{block:Posts}{Permalink}{/block:Posts}{/block:PermalinkPage}">
    <div class="grid-container">
      <!-- ↓ main header -->
      <header id="header" class="row header{block:IfHeaderImage} header-image{/block:IfHeaderImage}{block:IfNotHeaderImage} no-header-image{/block:IfNotHeaderImage}">
        <div class="col">
        {block:IfHeaderImage}
          <h1 class="title img" id="title"><a href="/"><span class="text">{Title}</span><img src="{image:Header}" alt="{PlaintextTitle}" /></a></h1>
        {/block:IfHeaderImage}
        {block:IfNotHeaderImage}
          <h1 class="title txt" id="title"><a href="/">{Title}</a></h1>
        {/block:IfNotHeaderImage}
        </div>
      </header>
      <!-- ↓ main content -->
      <section class="row content" id="content">
        <!-- ↓ sidebar with navigation and blog information -->
        <div class="col sidebar" id="content_sidebar">
          <div class="section-container">
            <div class="section me" id="section_me">
            {block:IfShowProfilePhoto}
              <div class="subsection profile-pic{block:IfUseBigProfilePhoto} full-width{/block:IfUseBigProfilePhoto}">
                <a href="/" class="avatar">{block:IfProfilePhotoImage}<img src="{image:Profile photo}" width="128" height="128" alt="{PlaintextTitle}" />{/block:IfProfilePhotoImage}{block:IfNotProfilePhotoImage}<img src="{PortraitURL-128}" width="128" height="128" alt="{PlaintextTitle}" />{/block:IfNotProfilePhotoImage}</a>
              </div>
            {/block:IfShowProfilePhoto}
            {block:IfShowBlogDescription}
              {block:Description}
              <div class="subsection blog-desc post-content html-content">
                <p>{Description}</p>
              </div>
              {/block:Description}
            {/block:IfShowBlogDescription}
            {block:IfShowSocialMediaLinks}
              <div class="subsection follow-links" id="section_socmed">
                <ul>
                {block:IfExternalRSSFeedLink}
                  <li class="follow"><a class="icon-button icon-link rss" href="{RSS}"><span class="icon"></span>{lang:Subscribe via RSS}</a></li>
                {/block:IfExternalRSSFeedLink}
                {block:IfExternalTwitterURL}
                  <li class="follow"><a class="icon-button icon-link twitter" href="{text:External Twitter URL}"></a><span class="icon"></span>{block:IfExternalTwitterText}{text:External Twitter text}{/block:IfExternalTwitterText}{block:IfNotExternalTwitterText}Twitter{/block:IfNotExternalTwitterText}</li>
                {/block:IfExternalTwitterURL}
                {block:IfExternalFacebookURL}
                  <li class="follow"><a class="icon-button icon-link facebook" href="{text:External Facebook URL}"></a><span class="icon"></span>{block:IfExternalFacebookText}{text:External Facebook text}{/block:IfExternalFacebookText}{block:IfNotExternalFacebookText}Facebook{/block:IfNotExternalFacebookText}</li>
                {/block:IfExternalFacebookURL}
                {block:IfExternalBandcampURL}
                  <li class="follow"><a class="icon-button icon-link bandcamp" href="{text:External Bandcamp URL}"></a><span class="icon"></span>{block:IfExternalBandcampText}{text:External Bandcamp text}{/block:IfExternalBandcampText}{block:IfNotExternalBandcampText}Bandcamp{/block:IfNotExternalBandcampText}</li>
                {/block:IfExternalBandcampURL}
                {block:IfExternalFlickrURL}
                  <li class="follow"><a class="icon-button icon-link flickr" href="{text:External Youtube URL}"></a><span class="icon"></span>{block:IfExternalFlickrText}{text:External Flickr text}{/block:IfExternalFlickrText}{block:IfNotExternalFlickrText}Flickr{/block:IfNotExternalFlickrText}</li>
                {/block:IfExternalFlickrURL}
                {block:IfExternalYoutubeURL}
                  <li class="follow"><a class="icon-button icon-link youtube" href="{text:External website URL}"></a><span class="icon"></span>{block:IfExternalYoutubeText}{text:External Youtube text}{/block:IfExternalYoutubeText}{block:IfNotExternalYoutubeText}Youtube{/block:IfNotExternalYoutubeText}</li>
                {/block:IfExternalYoutubeURL}
                {block:IfExternalVimeoURL}
                  <li class="follow"><a class="icon-button icon-link vimeo" href="{text:External email address}"></a><span class="icon"></span>{block:IfExternalVimeoText}{text:External Vimeo text}{/block:IfExternalVimeoText}{block:IfNotExternalVimeoText}Vimeo{/block:IfNotExternalVimeoText}</li>
                {/block:IfExternalVimeoURL}
                {block:IfExternalWebsiteURL}
                  <li class="follow"><a class="icon-button icon-link website" href="{text:External Flickr URL}"></a><span class="icon"></span>{block:IfExternalWebsiteText}{text:External website text}{/block:IfExternalWebsiteText}{block:IfNotExternalWebsiteText}Website{/block:IfNotExternalWebsiteText}</li>
                {/block:IfExternalWebsiteURL}
                {block:IfExternalEmailAddress}
                  <li class="follow"><a class="icon-button icon-link email" href="{text:External Vimeo URL}"></a><span class="icon"></span>{block:IfExternalEmailText}{text:External email text}{/block:IfExternalEmailText}{block:IfNotExternalEmailText}Email{/block:IfNotExternalEmailText}</li>
                {/block:IfExternalEmailAddress}
                </ul>
              </div>
              <script>
              Jikuu.decorate("#section_socmed");
              </script>
            {/block:IfShowSocialMediaLinks}
            </div>
            <script>
            Jikuu.decorate("#section_me");
            </script>
            <hr />
            <div class="section navigation col{block:IfAlwaysKeepMainNavigationVisible} sticky{/block:IfAlwaysKeepMainNavigationVisible}" id="section_nav">
              <nav class="subsection">
                <h3 class="title{block:IfNotShowNavigateHeader} hidden{/block:IfNotShowNavigateHeader}">{lang:Navigate}</h3>
                <ul class="menu nav">
                  <li{block:IndexPage} class="active"{/block:IndexPage}><a href="/"><span>{lang:Home}</span></a></li>
                  <li><a href="/archive"><span>{lang:Archive}</span></a></li>
                  {block:AskEnabled}
                  <li class="ask"><a href="/ask"><span>{AskLabel}</span></a></li>
                  {/block:AskEnabled}
                  {block:SubmissionsEnabled}
                  <li class="submit"><a href="/submit"><span>{SubmitLabel}</span></a></li>
                  {/block:SubmissionsEnabled}
                </ul>
                {block:HasPages}
                <ul class="menu nav pages">
                  {block:Pages}
                  <li><a href="{URL}"><span>{Label}</span></a></li>
                  {/block:Pages}
                </ul>
                {/block:HasPages}
                {block:IfShowSearchField}
                <form action="/search" method="get" id="form_search" class="form-search">
                  <p class="search-input"><input type="text" name="q" value="{SearchQuery}" placeholder="{lang:Search}" /></p>
                  <p class="search-submit"><input type="submit" value="{lang:Search}" /></p>
                </form>
                {/block:IfShowSearchField}
              </nav>
            </div>
            <script>
            Jikuu.decorate("#section_nav");
            </script>
            <hr />
            {block:IfShowListOfGroupBlogContributors}
            {block:GroupMembers}
            <div class="section blogs contributors fluid-collapse" id="section_contributors">
              <h3 class="title fluid-collapse-link">{lang:Contributors}<span class="arr"></span></h3>
              <ul class="blog-list fluid-collapse-content">
              {block:GroupMember}
                <li class="blog"><a href="{GroupMemberURL}" class="icon-link" title="{PlaintextGroupMemberTitle}"><span class="icon" style="background-image: url({GroupMemberPortraitURL-30});"></span>{GroupMemberName}</a></li>
              {/block:GroupMember}
              </ul>
              <hr />
            </div>
            {/block:GroupMembers}
            <script>
            Jikuu.decorate("#section_contributors");
            </script>
            {/block:IfShowListOfGroupBlogContributors}
            {block:IfShowListOfBlogsYouFollow}
            {block:Following}
            <div class="section blogs following fluid-collapse" id="section_following">
              <h3 class="title fluid-collapse-link">{lang:People I follow}<span class="arr"></span></h3>
              <ul class="blog-list fluid-collapse-content">
              {block:Followed}
                <li class="blog"><a href="{FollowedURL}" class="icon-link" title="{PlaintextFollowedTitle}"><span class="icon" style="background-image: url({FollowedPortraitURL-30});"></span>{FollowedName}</a></li>
              {/block:Followed}
              </ul>
            </div>
            <hr />
            <script>
            Jikuu.decorate("#section_following");
            </script>
            {/block:Following}
            {/block:IfShowListOfBlogsYouFollow}
            {block:IfShowCopyrightSection}
            <div class="section copyright">
              <h3 class="meta copyright-statement">© {CopyrightYears}{block:IfAdditionalCopyrightInfo}, {text:Additional copyright info}{/block:IfAdditionalCopyrightInfo}</h3>
            </div>
            <hr />
            {/block:IfShowCopyrightSection}
          </div>
        </div>
        <!-- ↓ post page header -->
        <div class="col main" id="content_main">
          <p class="textnav aural-only"><a id="content_main_hajime" class="jump"><!-- Main content start --></a></p>
          {block:DayPage}
          <div class="nav day meta">
            <h2 class="title archive-header day">{lang:Viewing everything posted on Month DayOfMonth Year}{block:DayPagination} <span class="simple-nav">({block:PreviousDayPage}<a href="{PreviousDayPage}">{lang:Previous day}</a>{/block:PreviousDayPage}{block:NextDayPage}{block:PreviousDayPage}, {/block:PreviousDayPage}<a href="{NextDayPage}">{lang:Next day}</a>{/block:NextDayPage})</span>{/block:DayPagination}:</h2>
            <hr />
          </div>
          {/block:DayPage}
          {block:TagPage}
          <div class="nav tag meta">
            <h2 class="title archive-header tags">{lang:Showing TagResultCount posts tagged Tag 2}:</h2>
            <hr />
          </div>
          {/block:TagPage}
          {block:SearchPage}
          <div class="nav search meta">
            <h2 class="title archive-header search">{lang:SearchResultCount results for SearchQuery}:</h2>
            <hr />
          </div>
          {block:NoSearchResults}
          <p class="error no-search-results">{lang:Sorry no results for SearchQuery 2}</p>
          {/block:NoSearchResults}
          {/block:SearchPage}
          {block:IfUseEndlessScrolling}
          <div class="tmp-container" id="container_tmp"></div>
          <script>
          Jikuu.decorate("#container_tmp");
          </script>
          {/block:IfUseEndlessScrolling}
          <!-- ↓ post container -->
          <div class="post-container row" id="container_posts">
            <!-- jikuu_post_container_初め -->
            {block:Posts}
            <article class="post col id-{PostID} type-{PostType}{block:Panorama} panorama{/block:Panorama}{block:Photoset} photoset photoset-amount-{PhotoCount} photoset-layout-{PhotosetLayout}{/block:Photoset}{block:Quote} quote-length-{Length}{/block:Quote}{block:HasTags} {TagsAsClasses}{/block:HasTags}"{block:HasTags} data-tags="{TagsAsClasses}"{/block:HasTags} data-type="post" data-permalink="{Permalink}" data-shorturl="{ShortURL}" data-id="{PostID}" id="post_{PostID}">
              <div class="post-content">

              {block:Text}
                <!-- ↓ text post -->
                {block:Title}
                <h2 class="title">{Title}</h2>
                {/block:Title}
                <div class="body html-content">{Body}</div>
              {/block:Text}

              {block:Photo}
                <!-- ↓ photo post -->
                <div class="media{block:HighRes} has-highres{/block:HighRes}">
                  <p class="photo">{LinkOpenTag}<img width="{PhotoWidth-500}" height="{PhotoHeight-500}" src="{PhotoURL-1280}" srcset="{PhotoURL-HighRes} {PhotoWidth-HighRes}w, {PhotoURL-1280} {PhotoWidth-1280}w, {PhotoURL-500} {PhotoWidth-500}w" sizes="(min-width: 1280px) 1280px, 100vw" alt="{PhotoAlt}" />{LinkCloseTag}</p>
                </div>
                <div class="meta">
                {block:HighRes}
                  <div class="hires"><p><a href="{PhotoURL-HighRes}" data-width="{PhotoWidth-HighRes}" data-height="{PhotoHeight-HighRes}">{lang:Click for high-res photo}</a></p></div>
                  {block:PermalinkPage}
                  {block:Exif}
                  <div class="exif">Exif:{block:Camera} <span class="camera">{Camera}</span>{/block:Camera}{block:Aperture} <span class="aperture">ƒ/{Aperture}</span>{/block:Aperture}{block:Exposure} <span class="exposure">{Exposure}</span>{block:Exposure}{block:FocalLength} <span class="focallength">{FocalLength}</span>{/block:FocalLength}</div>
                  {/block:Exif}
                  {/block:PermalinkPage}
                {/block:HighRes}
                </div>
                {block:Caption}
                <div class="caption html-content">{Caption}</div>
                {/block:Caption}
              {/block:Photo}

              {block:Panorama}
                <!-- ↓ panorama post -->
                <div class="media panorama">
                  <p class="photo">{LinkOpenTag}<img src="{PhotoURL-Panorama}" alt="{PhotoAlt}" width="{PhotoWidth-Panorama}" height="{PhotoHeight-Panorama}" />{LinkCloseTag}</p>
                </div>
                {block:Caption}
                <div class="caption html-content">{Caption}</div>
                {/block:Caption}
              {/block:Panorama}

              {block:Photoset}
                <!-- ↓ photoset post -->
                <div class="media photoset-grid" data-layout="{PhotosetLayout}" data-amount="{PhotoCount}" data-id="photoset-{PostID}">
                  {block:Photos}
                  <div class="image-container">
                    <img width="{PhotoWidth-500}" height="{PhotoHeight-500}" src="{PhotoURL-1280}" srcset="{PhotoURL-HighRes} {PhotoWidth-HighRes}w, {PhotoURL-1280} {PhotoWidth-1280}w, {PhotoURL-500} {PhotoWidth-500}w" sizes="(min-width: 1280px) 1280px, 100vw" alt="{PhotoAlt}" />
                    {block:Caption}<div class="caption">{Caption}</div>{/block:Caption}
                  </div>
                  {/block:Photos}
                </div>
                {block:Caption}
                <div class="caption html-content">{Caption}</div>
                {/block:Caption}
              {/block:Photoset}

              {block:Quote}
                <!-- ↓ quote post -->
                <blockquote class="quote text">{Quote}</blockquote>
                {block:Source}
                <div class="source"><div class="dash">—</div><div class="content html-content">{Source}</div></div>
                {/block:Source}
              {/block:Quote}

              {block:Link}
                <!-- ↓ link post -->
                <p class="link"><a class="name" href="{URL}" {Target}>{Name}</a></p>
                {block:Description}
                <div class="description html-content">{Description}</div>
                {/block:Description}
              {/block:Link}

              {block:Chat}
                <!-- ↓ chat post -->
                {block:Title}
                <h2 class="title">{Title}</h2>
                {/block:Title}
                <ul class="chat">
                {block:Lines}
                  <li class="{Alt} user-{UserNumber}{block:Label} has-label{/block:Label}">{block:Label}<span class="label">{Label}<span class="space">&nbsp;</span></span>{/block:Label}<span class="line">{Line}</span></li>
                {/block:Lines}
                </ul>
              {/block:Chat}

              {block:Audio}
                <!-- ↓ audio post -->
                <div class="audio{block:AlbumArt} has-art{/block:AlbumArt}{block:Artist} has-artist{/block:Artist}{block:Album} has-album{/block:Album}{block:TrackName} has-trackname{/block:TrackName}"{block:Artist} data-artist="{PlaintextArtist}"{/block:Artist}{block:Album} data-album="{PlaintextAlbum}"{/block:Album}{block:TrackName} data-trackname="{PlaintextTrackname}"{/block:TrackName}>
                  {block:AlbumArt}
                  <div class="art">
                    <img src="{AlbumArtURL}" width="50" alt="{block:Artist}{PlaintextArtist}{/block:Artist} - {block:TrackName}{PlaintextTrackName}{/block:TrackName}" />
                  </div>
                  {/block:AlbumArt}
                  {block:AudioEmbed}
                  <div class="embed ext">
                    {AudioEmbed-500}
                  </div>
                  {/block:AudioEmbed}
                  {block:AudioPlayer}
                  <div class="embed native">
                    {AudioPlayerBlack}
                  </div>
                  {/block:AudioPlayer}
                  <div class="info">
                    {block:Artist}
                    <p><span class="artist">{Artist}</span>{block:TrackName} - <span class="trackname">{TrackName}</span>{/block:TrackName}</p>
                    {/block:Artist}
                    {block:Album}
                    <p><span class="album">{Album}</span></p>
                    {/block:Album}
                  </div>
                </div>
                {block:Caption}
                <div class="caption">
                  {Caption}
                </div>
                {/block:Caption}
                <div class="meta">
                  <div class="playcount download"><p>{PlayCountWithLabel}{block:ExternalAudio} (<a href="{ExternalAudioURL}">{lang:Download this track}</a>){/block:ExternalAudio}</p></div>
                </div>
              {/block:Audio}

              {block:Video}
                <!-- ↓ video post -->
                <div class="embed">{Video-500}</div>
                {block:Caption}
                <div class="caption">{Caption}</div>
                {/block:Caption}
                <div class="meta">
                  <div class="playcount"><p>{PlayCountWithLabel}</p></div>
                </div>
              {/block:Video}

              {block:Answer}
                <!-- ↓ answer post -->
                <div class="question">
                  <div class="avatar"><img src="{AskerPortraitURL-128}" width="64" height="64" /></div>
                  <div class="bevel-container">
                    <div class="arr-outer"></div>
                    <div class="arr-inner"></div>
                    <div class="inner">
                      <p class="meta asker">{lang:Asker asked 2}:</p>
                      <div class="content html-content">{Question}</div>
                    </div>
                  </div>
                </div>
                <div class="answer html-content">
                  <div class="bevel-container">
                    <div class="arr-outer"></div>
                    <div class="arr-inner"></div>
                    <div class="inner">
                      {Answer}
                    </div>
                  </div>
                </div>
              {/block:Answer}

              </div>
              {block:More}
              <div class="readmore"><a href="{Permalink}">{lang:Read more}</a></div>
              {/block:More}

              <!-- ↓ post meta information -->
              <div class="info{block:IfShowAuthorAvatar} with-avatar{/block:IfShowAuthorAvatar}{block:IfShowAuthorName} with-name{/block:IfShowAuthorName}{block:HasTags} has-tags{/block:HasTags}">
                {block:IfShowAuthorAvatar}
                <div class="avatar">
                  <p><a href="{PostAuthorURL}"><img src="{PostAuthorPortraitURL-64}" width="32" height="32" alt="{PlaintextPostAuthorName}" /></a></p>
                </div>
                {/block:IfShowAuthorAvatar}
                <div class="meta">
                  <p>
                    {block:Date}
                    <span class="date timestamp-{Timestamp}"><a href="{Permalink}">{block:IfShowAuthorName}{lang:Posted TimeAgo by PostAuthorName}{/block:IfShowAuthorName}{block:IfNotShowAuthorName}{lang:Posted TimeAgo}{/block:IfNotShowAuthorName}</a>{block:PermalinkPage} (<span class="date iso-{Year}-{MonthNumberWithZero}-{DayOfMonthWithZero}">{Month} {DayOfMonth}, {Year}</span> <span class="time">{block:IfUse24HourClock}{24HourWithZero}:{Minutes}{/block:IfUse24HourClock}{block:IfNotUse24HourClock}{12HourWithZero}:{Minutes} {AmPm}{/block:IfNotUse24HourClock}</span>){/block:PermalinkPage}</span>
                    {/block:Date}
                    {block:NoteCount}
                    - <span class="notes">{NoteCountWithLabel}</span>
                    {/block:NoteCount}
                    {block:ContentSource}
                    <span class="source">({lang:Source}: <a href="{SourceURL}">{SourceTitle}</a>)</span>
                    {/block:ContentSource}
                    {block:IfShowShortlink}
                    <span class="shorturl">
                      <a href="{ShortURL}">
                        <svg version="1.1" aria-label="Link" role="img" width="11" height="13" viewBox="0 0 482.136 482.135">
                          <path d="M455.482,198.184L326.829,326.832c-35.535,35.54-93.108,35.54-128.646,0l-42.881-42.886l42.881-42.876l42.884,42.876
                              c11.845,11.822,31.064,11.846,42.886,0l128.644-128.643c11.816-11.831,11.816-31.066,0-42.9l-42.881-42.881
                              c-11.822-11.814-31.064-11.814-42.887,0l-45.928,45.936c-21.292-12.531-45.491-17.905-69.449-16.291l72.501-72.526
                              c35.535-35.521,93.136-35.521,128.644,0l42.886,42.881C491.018,105.045,491.018,162.663,455.482,198.184z M201.206,366.698
                              l-45.903,45.9c-11.845,11.846-31.064,11.817-42.881,0l-42.884-42.881c-11.845-11.821-11.845-31.041,0-42.886l128.646-128.648
                              c11.819-11.814,31.069-11.814,42.884,0l42.886,42.886l42.876-42.886l-42.876-42.881c-35.54-35.521-93.113-35.521-128.65,0
                              L26.655,283.946c-35.538,35.545-35.538,93.146,0,128.652l42.883,42.882c35.51,35.54,93.11,35.54,128.646,0l72.496-72.499
                              C246.724,384.578,222.588,379.197,201.206,366.698z"></path>
                        </svg>
                      </a>
                    </span>
                    {/block:IfShowShortlink}
                  </p>
                  {block:RebloggedFrom}
                  <p>
                    <span class="from">{lang:Reblogged from ReblogParentName 2}</span>
                  </p>
                  {/block:RebloggedFrom}
                  {block:HasTags}
                  <p class="tags{block:IfShowTagsAsSingleLine} single-line{/block:IfShowTagsAsSingleLine}">{lang:Tagged with} {block:Tags}<a class="tag" href="{TagURL}"><span class="hash">#</span><span class="name">{Tag}</span></a> {/block:Tags}</p>
                  {/block:HasTags}
                </div>
              </div>
              {block:IndexPage}
              <hr class="post-sep" />
              {/block:IndexPage}
              {block:PermalinkPage}
              {block:PostNotes}
              <hr />
              <div class="postnotes count-{NoteCount}">
                {PostNotes-32}
              </div>
              <hr class="post-sep" />
              {/block:PostNotes}
              {/block:PermalinkPage}
            </article>
            <script>
            Jikuu.decorate("#post_{PostID}");
            </script>
            {/block:Posts}
            <!-- jikuu_post_container_終り -->
          </div>
          <script>
          Jikuu.decorate("#container_posts");
          </script>
          {block:Pagination}
          <div class="section pagenav" id="section_pagenav">
            <hr class="post-sep" />
            {block:IfUseJumpNavigation}
            <ul class="page menu nav jumpnav">
              {block:JumpPagination length="5"}
              {block:CurrentPage}<li class="active"><a href="{URL}"><span>{PageNumber}</span></a></li>{/block:CurrentPage}
              {block:JumpPage}<li><a href="{URL}" class="page"><span>{PageNumber}</span></a></li>{/block:JumpPage}
              {/block:JumpPagination}
            </ul>
            {/block:IfUseJumpNavigation}
            {block:IfNotUseJumpNavigation}
            <ul class="page menu nav steps">
              {block:PreviousPage}<li><a href="{PreviousPage}" class="page"><span>{lang:Newer}</span></a></li>{/block:PreviousPage}
              {block:NextPage}<li><a href="{NextPage}" class="page"><span>{lang:Older}</span></a></li>{/block:NextPage}
            </ul>
            {/block:IfNotUseJumpNavigation}
          </div>
          <script>
          Jikuu.decorate("#section_pagenav");
          </script>
          {/block:Pagination}
          {block:IfUseEndlessScrolling}
          <div id="section_loader" class="loader">
          </div>
          <script>
          Jikuu.decorate("#section_loader");
          </script>
          {/block:IfUseEndlessScrolling}
        </div>
      </section>
    </div>
  </div>
</body>

</html>
