/**
 * Jikuu - Tumblr Theme - CSS Code
 * © 2008-2018, Michiel Sikma. MIT license.
 */

$primary: #006AFF;
$visited: #5E0FFF;
$hover: #FF086B;
$hljs-text: #f8f8f2; // Text color used by highlight.js.
$light-gray: #f9f7f7;
$medium-gray: #CDCACA;
$dark-gray: #696161;
$near-black: #0A0A0B;
$meta-text: #585151;

$body-font: 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
$monospace-font: 'Menlo', 'Andale Mono', 'Ubuntu Mono', monospace;
$body-font-native: -apple-system, BlinkMacSystemFont, sans-serif;
// Same as regular. Use "SF Mono" in a future update when it's usable.
$monospace-font-native: 'Menlo', 'Andale Mono', 'Ubuntu Mono', monospace;
// Make the monospace font slightly smaller if using the native font as base.
$monospace-font-native-scale: 94%;

// Small resolution breakpoint.
$break-small: 768px;
// Regular layout breakpoint.
$break-regular: 1100px;

// Base sizes for the regular layout.
$base-font-size: 12px;
$base-line-height: 19px;
// Slightly smaller line-height when using the native font.
$base-line-height-native: 18px;
$base-header-font-size: 21px;
$base-header-line-height: 27px;
$base-width: 718px;
$base-width-sidebar: 173px;
$base-width-content: 500px;

// Base sizes for the wide layout.
$wide-font-size: 14px;
$wide-line-height: 21px;
$wide-header-font-size: 28px;
$wide-header-line-height: 40px;
$wide-width: 1000px;
$wide-width-sidebar: 203px;
$wide-width-content: 700px;

@import "style/mixins.scss";
@import "style/base.scss";
@import "style/common.scss";
@import "style/footer.scss";
@import "style/sidebar.scss";
@import "style/transition.scss";
@import "style/post.scss";
@import "style/posts/answer.scss";
@import "style/posts/audio.scss";
@import "style/posts/chat.scss";
@import "style/posts/link.scss";
@import "style/posts/photo.scss";
@import "style/posts/photoset.scss";
@import "style/posts/quote.scss";
@import "style/posts/text.scss";
@import "style/posts/video.scss";

@import "~luminous-lightbox/dist/luminous-basic.css";
@import "~highlight.js/styles/dracula.css";
@import "style/lightbox.scss";
